DATABASE_URL=postgresql://postgres.txmriqsufnrkyqmeqzpv:RRGHELV2007F@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres:RRGHELV2007F@db.txmriqsufnrkyqmeqzpv.supabase.co:5432/postgres
JWT_SECRET=super-secret-birthday-key-2026
ADMIN_PASSWORD=birthdayfriend2026
